<section class="latest-posts two-column">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <h2 class="section-title">My Videos</h2><!-- /.section-title -->
        <div id="player-wrapper"></div>
        <% @videos.each do |video| %>
          <%= render partial: 'video', locals: {video: video} %>
        <% end %>
      </div>
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.video-content -->
